
h2
{
	color: dodgerblue; 
	font-size: 20px;
}

.body_background {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#theCanvas {
	border-width: 20px;
	border-style: ridge;
	background-color: lightskyblue;
}
